<h2> Purples </h2>

<div class="bigdiv">
<ul>
  <% colorList.forEach((oneColor) => { %>
    <% if(oneColor.category === "purple") { %>
      <div class="colordiv" style="background-color: <%= oneColor.hex %>; color:<%= oneColor.hex %>;"> "" </div>
      <li> <%= oneColor.keyword %> </li>
      <li>      <%= oneColor.hex %> </li>
    <% } %>
  <% }) %>
</ul>
</div>
