<h2 style="color:black;font-size:58px;">Web Colors App</h2>
<div class="menu">
  <a href="/colors">Library of Colors</a>
  <a href="/random-color">Random Color</a>
</div>

<div class="home-img">
  <a href="/colors"><img src="/images/color-screenshot.png" /></a>
</div>
