
<div class="container top">
  <h2 class="main-title">
    <span class="web">Web</span> <span class="colors">Colors</span> <span class="app">App</span>
  </h2>
</div>
<div class="container menu">
  <a class="btn btn-outline-primary" role="button" href="/colors">Library of Colors</a>
  <a class="btn btn-outline-primary" role="button" href="/random-color">Random Color</a>
</div>

<!-- <div class="home-img">
  <a href="/colors"><img src="/images/color-screenshot.png" /></a>
</div> -->
