

<h2>Welcome to the Amazing Web Color App!</h2>
  <p>Look no further! You can use this app for all your color finding needs.
  <br>
  Head to each of the sections to get a variety of a specific color or try our
  random color generator! Enjoy!
  </p>
