<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Color App</title>
    <link rel="stylesheet" href="/css/style.css"
  </head>

  <body>
    <header>
      <h1>Color App</h1>
    <%- body %>
      <nav>
        <a href="/">Home</a>
        <a href="/color-list">Color-List</a>
        <a href="/green">The Greens</a>
        <a href="/blue">The Blues</a>
        <a href="/red">The Reds</a>
      </nav>
    </header>
    <footer>
    </footer>

  </body>
</html>
