<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Color App</title>
    <link rel="stylesheet" href="/css/style.css"
  </head>

  <body>
    <header>
      <h1>Color App</h1>
    <%- body %>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/colors">Color-List</a></li>
          <li><a href="/green">The Greens</a></li>
          <li><a href="/blue">The Blues</a></li>
          <li><a href="/red">The Reds</a></li>
        </ul>
      </nav>
    </header>
    <footer>
    </footer>

  </body>
</html>
