<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pick your color</title>
    <link rel="stylesheet" href ="/css/style.css">
  </head>
  <body>
    <header>
      <h1>Pick your color</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/colors">View Colors</a>
      <a href="/gray">View Gray's</a>
      <a href="/pink">View Pink's</a>
      <a href="/beige">View Beige's</a>
      <a href="/random">View Random color</a>
    </nav>

    <%- body %>

    <div><footer>Made by Deokjae and Anthony</footer></div>
  </body>
</html>
