<h2>Here are pink colors you can pick</h2>

<ul>
  <%colors.forEach((colors) => {%>
    <%if(colors.category ==="pink"){%>
      <li>
        <div class="color" style="background-color:<%=colors.keyword%>"></div>
        <div class="textArea">
          <p><%=(colors.keyword.charAt(0).toUpperCase() + colors.keyword.slice(1))%></p>
          <p><strong><%=colors.hex.toUpperCase()%></strong></p>
        </div>
      </li>
    <%}%>
  <%})%>
</ul>
