<h2 style="color:black;font-size:75px;">Random Selected Color</h2>
<div class="menu">
<a href="/">Home</a>
<a href="/colors">Library of Colors</a>
</div>
<div style="background-color:<%=viewRandomColor.hex%>;
  width:812px;
  height:500px;
  text-align:center;
  margin: -5px;
      margin: auto;
      font-size: 31px;
font-weight: 800;">
  <p class="text"><%= viewRandomColor.keyword %></p>
  <p class="text"><%= viewRandomColor.hex %></p>
</div>
