<h2>We picked a random color for you</h2>

<li>
  <div class="color" style="background-color:<%=randColor.keyword%>"></div>
  <div class="textArea">
    <p><%=(randColor.keyword.charAt(0).toUpperCase() + randColor.keyword.slice(1))%></p>
    <p><strong><%=randColor.hex.toUpperCase()%></strong></p>
  </div>
</li>
