<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>

      <header><h1> <%= title %> </h1></header>
      <nav>
        <a href="/home">HOME</a>
        <a href="/colors">COLOR PALET</a>
        <a href="/gray">Gray</a>
        <a href="/pink">Pink</a>
        <a href="/purple">Purple</a>
        <a href="/random">Random Color</a>
      </nav>

<%- body %>

<footer></footer>
  </body>
</html>
