@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


body{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.top{
  margin-top: 200px;
  margin-bottom: 39px;
}


.main-title{
  color:black;
  font-size:58px;
  font-size: 125px;
  font-family: 'Nunito Sans', sans-serif;
}

.web{
  color: #007ae4;
}

.app{
  color: #ff0000;
}

.color-header-text{
  color:black;
  font-size:75px;
}

.color-box{
  width:812px;
  height:500px;
  text-align:center;
  margin: -5px;
  margin: auto;
  font-size: 31px;
  font-weight: 800;
  margin-top: 18px;
}

.btn-outline-warning {
    color: #84796b !important;
    border-color: #000000 !important;
}


.btn-outline-warning:hover {
    color: #fff !important;
    background-color: #191714 !important;
      border-color: #000000 !important;
}

.btn-outline-warning:focus {
    box-shadow: 0 0 0 2px rgba(35, 32, 27, 0.5) !important;
}


.text{
  font-size:23px ;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  position: relative;
  top: 30%;
}

.menu{
  font-size: 19px;
    font-weight: 700;
}

/*.menu a{
  text-decoration: none;
  color: #514958;
}

.menu a:hover{
  color: blueviolet;
}*/

.home-img img{
  width: 500px;
margin-top: 19px;
}
